/*
* 基础
*/
/* 样式初始化 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common */
.txt {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0.2rem;
  padding: 0 0.28rem;
  display: block;
  height: 1.76rem;
  line-height: 1.76rem;
  text-align: center;
}
.txt img {
  width: 0.68rem;
  height: 0.64rem;
}
.header {
  padding: 0 3.48rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 1.76rem;
  line-height: 1.76rem;
  text-align: center;
  font-size: 0.72rem;
  color: #333333;
  background: #ffffff;
  z-index: 3;
}
.header .icon-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.28rem;
  height: 1.76rem;
  text-align: center;
}
.header .icon-left img {
  width: 0.32rem;
  height: 0.56rem;
  margin-top: 0.56rem;
}
.header h2 {
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.76rem;
  line-height: 1.76rem;
  font-size: 0.72rem;
  color: #333333;
  text-align: center;
}
.line-bottom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #bfbfbf ;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
html {
  text-size-adjust: 100%;
}
body {
  line-height: 1.5;
  font-size: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
}
textarea,
input {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  display: inline-block;
  line-height: inherit;
  color: inherit;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}
a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
}
a img {
  border: 0;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #ebeef3;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 32px;
  background-color: #d8dce4;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 32px;
  background-color: #d8dce4;
  -webkit-border-radius: 4px;
}
