/*
* 基础
*/

/* 样式初始化 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@rem: 50rem;
/* common */
.txt {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10/@rem;
  padding: 0 14/@rem;
  display: block;
  height: 88/@rem;
  line-height: 88/@rem;
  text-align: center;
  img{
      width: 34/@rem;
      height: 32/@rem;
  }
}
.header{
padding: 0 150/@rem;
position:fixed;
top:0;
right:0;
width:100%;
height:88/@rem; 
line-height:88/@rem;
text-align: center;
font-size: 36/@rem;
color: #2a2a2a;
z-index: 2;
background: #ffffff;
.left{
  position: absolute;
  top: 50%;
  left: 24/@rem;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.left::before{ // 左三角
  content: "";
  position: absolute;
  width: 14/@rem;
  height: 14/@rem;
  border: 1px solid #2a2a2a;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
  top: -5/@rem;
  left: 0;
}
h1{
  font-weight:normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 36/@rem;
  line-height: 88/@rem;
}
}
// 头部1px下边框
.line-bottom:after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 1px;
background: #bfbfbf ;
-webkit-transform: scaleY(0.5);
transform: scaleY(0.5);
-webkit-transform-origin: 0 100%;
transform-origin: 0 100%;
}



html {
  text-size-adjust: 100%;
}

body {
  line-height: 1.5;
  font-size: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-align: center;
}

textarea, input{
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  line-height: inherit;
  color: inherit;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  &:link, &:visited, &:active, &:hover {
    color: inherit;
  }
  img {
    border: 0;
  }
}

li {
  list-style: none;
}


::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece
{
  background-color: #ebeef3;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical
{
  height: 32px;
  background-color: #d8dce4;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:horizontal
{
  width: 32px;
  background-color: #d8dce4;
  -webkit-border-radius: 4px;
}